<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
       http://mybatis.org/schema/mybatis-spring
        http://mybatis.org/schema/mybatis-spring.xsd" 
        default-autowire="byType">
	
	<tx:annotation-driven />
	<context:annotation-config />
	<aop:aspectj-autoproxy />
	
	<context:component-scan base-package="com.meila.meigou.dbhelper" >
	</context:component-scan>
	<bean id="studentService" class="com.meila.meigou.dbhelper.service.StudentService"></bean>
	
	<!-- 如果spring-db中配置了forceReadOnMaster=true，必须配合以下配置生效 -->
	<aop:config>
    	<aop:pointcut id="pointcutService"
			expression="execution(* com.meila.meigou.dbhelper.TestService.*(..)) || execution(* com.meila.meigou.dbhelper.service.*.*(..))" />
    	<aop:aspect ref="dbHelperServiceAspect">  
       		<aop:around pointcut-ref="pointcutService" method="doService"/>  
    	</aop:aspect> 
	</aop:config>
</beans>